<h3>Invoice <%= @invoice.id %></h3>
<br>
<div id="invoice-information">
  <p>Status: <%= @invoice.status %></p>
  <p>Date Created: <%= @invoice.date_created %></p>
  <p>Customer Name: <%= @invoice.customer_name %></p>
</div>